@import 'property-listings';
@import 'forms';
@import 'header';

.hidden {
  display: none;
}

body {
  background-color: rgb(205, 208, 214);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}